# SPDX-FileCopyrightText: 2015-2026 Commissariat a l'energie atomique et aux energies alternatives (CEA)
# SPDX-FileCopyrightText: 2016 Commissariat a l'energie atomique et aux energies alternatives (CEA)
# SPDX-FileCopyrightText: 2017 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

*.pyc
