# SPDX-FileCopyrightText: 2015-2026 Commissariat a l'energie atomique et aux energies alternatives (CEA)
# SPDX-FileCopyrightText: 2016 Commissariat a l'energie atomique et aux energies alternatives (CEA)
# SPDX-FileCopyrightText: 2020 Institute of Bioorganic Chemistry Polish Academy of Science (PSNC)
# SPDX-FileCopyrightText: 2024 Commissariat a l'energie atomique et aux energies alternatives (CEA)
# SPDX-FileCopyrightText: 2025 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

[submodule "tutorial"]
	path = tutorial
	url = https://github.com/pdidev/tutorial.git
[submodule "vendor/run-clang-format"]
	path = vendor/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
