[submodule "tutorial"]
	path = tutorial
	url = https://github.com/pdidev/tutorial.git
[submodule "vendor/run-clang-format"]
	path = vendor/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
