# Copyright (C) 2024 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

name: indent
on:
  push: { branches: [ main ] }
  pull_request:
jobs:
  indent:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: exec ./bin/test_indent
