# Copyright (C) 2026 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

name: pages
on:
  push:
    branches: [ main, 'v[0-9]+\.[0-9]+' ]
    tags: '[0-9]+\.[0-9]+\.[0-9]+'
  pull_request:
  workflow_dispatch:
jobs:
  pages:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout branch
      uses: actions/checkout@v4
      with: { submodules: recursive }
    - name: Build
      run: |
        IMG="ghcr.io/pdidev/debian/unstable/openmpi/all:v3"
        cat<<-'EOF' > run.sh
          set -xe
          cmake -DBUILD_DOCUMENTATION=ON -DBUILD_BENCHMARKING=OFF -DBUILD_TESTING=OFF /src/pdi
          if make doc 2>&1 | tee >(cat>&2) | grep ' warning: ' > /dev/null
          then
            make doc 2>&1 | tee >(cat>&2) | grep ' warning: '
            exit 1
          fi
        EOF
        docker run \
          --cidfile='docker.cid' \
          -v ${PWD}:/src:ro \
          "${IMG}" \
          bash /src/run.sh
        docker cp "$(cat docker.cid)":$(docker image inspect -f '{{.Config.WorkingDir}}' "${IMG}")/docs/html public
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pages
        path: public
    - name: Deploy
      if: "${{ github.event_name == 'push' }}"
      run: |
        curl -fsS -u "jbigot:${{secrets.PAGES_DEPLOY_TOKEN}}" -H 'Accept: application/vnd.github.v3+json' -X POST "https://api.github.com/repos/pdidev/pdidev.github.io/dispatches" -d '{ "event_type": "do_gitlab_deploy" }'
