# Copyright (C) 2024-2026 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

name: tests
on:
  push: { branches: [ main, 'v[0-9]+.[0-9]+' ] }
  pull_request:
jobs:
  spack:
    strategy:
      fail-fast: false
      matrix:
        version:  ['latest', 'oldest']
        compiler: ['gcc', 'clang']
        mpi:      ['openmpi', 'mpich']
        variant:  ['mini', 'all']
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout branch
      uses: actions/checkout@v4
      with: { submodules: recursive }
    - name: Test
      uses: ./.github/actions/test/
      with: 
        image: 'ghcr.io/pdidev/spack/${{matrix.version}}/${{matrix.compiler}}/${{matrix.mpi}}/${{matrix.variant}}:v4'
  debuntu:
    strategy:
      fail-fast: false
      matrix:
        base:    ['ubuntu/jammy', 'ubuntu/rolling', 'debian/bookworm', 'debian/unstable']
        mpi:     ['openmpi', 'mpich']
        variant: ['mini', 'all']
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout branch
      uses: actions/checkout@v4
      with: { submodules: recursive }
    - name: Test
      uses: ./.github/actions/test/
      with: 
        image: 'ghcr.io/pdidev/${{matrix.base}}/${{matrix.mpi}}/${{matrix.variant}}:v4'
