# Copyright (C) 2025 Commissariat a l'energie atomique et aux energies alternatives (CEA)
#
# SPDX-License-Identifier: BSD-3-Clause

name: tests on macOS

on:
  workflow_dispatch:
  pull_request:

jobs:
  test-macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        cxx_std: ['17']
        build_type: ['Debug']
    runs-on: ${{matrix.os}}
    env:
      MAKEFLAGS: -j4
      CC: clang
      CXX: clang++
      CMAKE_BUILD_TYPE: ${{matrix.build_type}}
      OMPI_MCA_rmaps_base_oversubscribe: 1
      PRTE_MCA_rmaps_default_mapping_policy: :oversubscribe
      PDI_SYSTEM: macos
      PDI_COMPILER: clang
      PDI_MPI: openmpi
      CTEST_DIR: "/tmp/tests_output"
    steps:
    - run: brew install open-mpi
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build PDI
      run: bin/build_and_run_all_tests
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: ( success() || failure() )  # always run even if the previous step fails
      with:
        report_paths: '/tmp/tests_output/tests_*.xml'
